node_modules/
dist/
build/
coverage/
*.min.js
node_modules/
frontend/node_modules/
dist/
build/
coverage/
*.log
.env
.env.*
.DS_Store
.vscode/
.idea/
/.parcel-cache/
.cache/
*.tmp
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
